h6{
    color: #dfe2de;
}
p{
    color:#a8a8a8;
}
body{
    background-image: url("img/rag.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fill-color{
color:#a8a8a8;
}
a.fill-color:hover{
color:#525252;
}
.card{
width: 500px;
height:600px;
display: flex;
justify-content: center;
margin:auto;
background-color:#1d2227;
}
.card-body{
margin: 10px;
margin-bottom: 0px;
background-image: linear-gradient(#1d2126,#393939);
}
.card-header{
padding: 0px;
display: inline-block;
}
i{
    display: block;
    opacity: 0;
    line-height: 1;
}
.icon{
    width: fit-content;
}
.icon:hover i{
    opacity: 1;
}
.btn-circle {
width: 15px;
height: 15px;
text-align: center;
/* padding: 6px 0; */
font-size: 12px;
line-height: 1.428571429;
border: 0px;
border-radius: 15px;
}
.red{
background-image: linear-gradient(#b30005,#ffa4a4);
/* padding: 2px; */
margin: 0 4px;
margin-left: 10px;
}

.yellow{
background-image: linear-gradient(#cf5e1e,#fee255);
/* padding: 2px; */
margin: 0 4px;
}

.green{
background-image: linear-gradient(#5cac32,#ace05c);
/* padding: 2px; */
margin: 0 4px;
transform: rotate(45deg);
}
.btn-redeem{
 background-color:#414141;
 color:#dfdfd6;
 border-radius:0px;
 box-shadow: 1px 1px #414141;
 float:right;
}
.btn-redeem:hover{
background-color:#525252;
}
input{
background-color:#27292c !important;
border-radius: 0px !important;
color:#dfe2de !important;
padding: 3px 8px !important;
}
input[type="text"]:focus{
    border-color: #9a9a9a;
    box-shadow: 0 0 0 0.2rem rgba(73,80,87,0.5);
}
p.small{
font-size: 12px;
}

/* @media only screen and (max-width: 1024px) {
    body{
        background-repeat: repeat-y;
    }
   .card{
       width:50%;
   }

  }
@media only screen and (max-width: 768px) {
    body{
        background-repeat: repeat-y;
    }
   .card{
       width:100%;
       margin-top: 5px !important;
   }

  } */