.content-wrapper{
    padding: 30px;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.nav-banner{
    background-color: gray;
    ul{
        display: flex;
        margin: 1em 0;
        li{
            list-style-type: none;
            padding: 0 15px;
            border-right: 1px solid black;
            &:last-child{
                border-right: none;
            }
        }
    }
}

.sidebar-banner{
    min-height: 100vh;
    background-color: pink;
    ul{
        padding: 0;
        li{
            list-style-type: none;
            padding: 10px;
            color: #428bca;
            &:hover{
                background-color: red;
            }
        }
    }
}
.content-banner{
    h1{
        span{
            font-size: 0.5em;
        }
    }
}