$Main1 : #1C1E29;
$Main2 : #087E8B;
$Main3 : #076872;
$Main4 : rgb(134, 172, 170);
$Main5 : #5AB1BB;

$Main6 : #87C6CD;
$grayMain : #888888;

.content-wrapper{
    padding: 50px;
}

a{
    &:hover{
        text-decoration: none;
    }
}
.bg-main{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2NkIBIwCqo4/SdGLSMxikBqRk3EG1IAyqMHWbnQ9eoAAAAASUVORK5CYII=);
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-height: 100vh;
    // background: url(../bg.jpg) bottom no-repeat;
    // background-size: cover;
}

.mainHead{
    background-color: $Main1;
    text-align: center;
    margin: 0;
    padding: 1em;
    border: 1px solid $Main2;
    outline: 1px solid $Main2;
    outline-offset: -7px;
    h1{
        color: $Main5;
        text-shadow: 0px 0px 5px $Main2;
    }
}
.nav-banner{
    position: relative;
    z-index: 2;
    background-color: $Main2;
    box-shadow: 0px 0px 5px $Main2;
    ul{
        display: flex;
        margin: 0;
        li{
            list-style-type: none;
            padding: 12px 1em;
            color: $Main6;
            text-shadow: 0px 0px 2px $Main2;
            font-weight: bold;
            &:hover{
                background-color: $Main1;
            }
        }
    }
}


.sidebar-banner{
    min-height: 100vh;
    background-color: $Main1;
    border-right: 1px solid $Main5;
    box-shadow: 0px 0px 5px $Main5;
    ul{
        width: max-content;
        padding: 0em;
        li{
            list-style-type: none;
            padding: 15px 20px;
            color: $Main2;
            text-shadow: 0px 0px 1px $Main5;
            &:hover{
                background-color: $Main5;
                color: #ffffff;
                text-shadow: 0px 0px 1px #ffffff;
            }
        }
    }
}

.intro-page{
    >div{
        border-bottom: 1px dashed $Main5;
        margin-top: 2.5em;
        &:first-child{
            margin-top: 0;
        }
    }
    h1{
        color: $Main2;
        text-shadow: 0px 0px 2px $Main5;
    }
    p{
        color: $Main4;
        margin-bottom: 3em;
    }

    .first-paragraph{
    }
    
    .second-paragraph{
    }

}

.content-banner{
    h1{
        color: $Main2;
        text-shadow: 0px 0px 2px $Main5;
        span{
            font-size: 0.5em;
            color: $grayMain;
            text-shadow: none;
        }
    }
    h4{
        color: $Main4;
    }
    h5{
        color: $Main2;
        text-shadow: 0px 0px 1px $Main5;
        font-size: 1.5em;
    }
    p{
        color: $Main4;
    }
    form{
        input{
            margin: 0 0.5em;
            background-color: transparent;
        }
    }
    .detail-cha{
        >div{
            margin-top: 3em;
        }
        ul.resource{
            li{
                a{
                    color: $Main4;
                    text-decoration: underline;
                }
            }
        }
        ul.accordion{
            list-style-type:none ;
            padding: 0;
            li{
                margin-bottom: 0.5em;
                border: 1px solid $Main5;
                border-radius: 3px;
                padding: 10px 20px;
                h5{
                    font-size: 1.25em;
                    margin-bottom: 0;
                }
                div{
                    margin-top: 1em;
                    color: $Main4;
                    font-size: 0.875em;
                }
            }
        }
    }
}
form{
    label{
        color: $Main4;
    }
    input{
        border: 1px solid $Main4;
        border-radius: 3px;
        color: $Main4;
        padding: 2px 8px ;
        &:focus{
            outline-color: $Main4;
            
        }
    }
    button{
        border-radius: 4px;
        background-color: $Main2;
        border: 1px solid $Main2;
        color: #ffffff;
        padding: 2.5px 12px;
    }

}
a.btn{
    background-color: $Main2;
    border: 1px solid $Main2;
    &:hover,&.active{
        background-color: #08737F !important;
        border: 1px solid #08737F !important;
    }
}