@font-face {
  font-family: 'ChakraPetch';
  src: url('../../assets/font/ChakraPetch-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Press2Start';
  src: url('../../assets/font/PressStart2P-Regular.ttf') format('truetype');
}

body{
  font-family: 'ChakraPetch', sans-serif;
  background-color: #111116;
}

.f-bit{
  font-family: 'Press2Start', sans-serif;
}
.content-wrapper {
  padding: 50px; }

a:hover {
  text-decoration: none; }

.bg-main {
  background-color: #1C1E29;
  width: 100%;
  min-height: 100vh;
  border-radius: 10px;
  margin: 10px; }

.mainHead {
  background-color: #1C1E29;
  text-align: center;
  padding: 1em;
  border-radius: 10px;
  margin: 10px;}
  .mainHead h1 {
    font-size: 1.75rem;
    color: #5AB1BB;
    text-shadow: 0px 0px 5px #087E8B; }

.nav-banner {
  position: relative;
  z-index: 2;
  background-color: transparent}
  .nav-banner ul {
    display: flex;
    padding: 0;
    margin: 0; }
    .nav-banner ul li,.point {
      list-style-type: none;
      padding: 12px 1em;
      color: #87C6CD;
      text-shadow: 0px 0px 2px #087E8B;
      font-weight: bold; }
      .nav-banner ul li:hover {
        background-color: #1C1E29; 
        border-radius: 10px;}

.sidebar-banner {
  min-height: 100vh;
  background-color: #1C1E29;
  border-radius: 10px;
  margin: 10px;}
  .sidebar-banner ul {
    width: max-content;
    padding: 0em; }
    .sidebar-banner ul li {
      list-style-type: none;
      padding: 15px 20px;
      color: #5AB1BB;
      text-shadow: 0px 0px 1px #5AB1BB; }
      .sidebar-banner ul li:hover {
        background-color:#007e8c;
        color: #ffffff;
        text-shadow: 0px 0px 1px #ffffff; 
        border-radius: 10px;}

.intro-page > div {
  border-bottom: 1px dashed #5AB1BB;
  margin-top: 2.5em; }
  .intro-page > div:first-child {
    margin-top: 0; }
.intro-page h1 {
  color: #5AB1BB;
  text-shadow: 0px 0px 2px #5AB1BB; }
.intro-page p {
  color: #86acaa;
  margin-bottom: 3em; }

.content-banner h1 {
  color: #5AB1BB;
  text-shadow: 0px 0px 3px #5AB1BB; }
  .content-banner h1 span {
    font-size: 0.5em;
    color: #888888;
    text-shadow: none; }
.content-banner h4 {
  color: #86acaa; }
.content-banner h5 {
  color: #5AB1BB;
  text-shadow: 0px 0px 2px #5AB1BB;
  font-size: 1.5em; }
.content-banner p {
  color: #86acaa; }
.content-banner form input {
  margin: 0 0.5em;
  background-color: transparent; }
.content-banner .detail-cha > div {
  margin-top: 3em; }
.content-banner .detail-cha ul.resource li a {
  color: #86acaa;
  text-decoration: underline; }
.content-banner .detail-cha ul.accordion {
  list-style-type: none;
  padding: 0; }
  .content-banner .detail-cha ul.accordion li {
    margin-bottom: 0.5em;
    border: 1px solid #5AB1BB;
    border-radius: 3px;
    padding: 10px 20px; }
    .content-banner .detail-cha ul.accordion li h5 {
      font-size: 1.25em;
      margin-bottom: 0; }
    .content-banner .detail-cha ul.accordion li div {
      margin-top: 1em;
      color: #86acaa;
      font-size: 0.875em; }

form label {
  color: #86acaa; }
form input {
  border: 1px solid #86acaa;
  border-radius: 3px;
  color: #86acaa;
  padding: 2px 8px; }
  form input:focus {
    outline-color: #86acaa; }
form button {
  border-radius: 4px;
  background-color: #087E8B;
  border: 1px solid #087E8B;
  color: #69d9e6;
  padding: 2.5px 12px; }

a.btn {
  color: #69d9e6;
  background-color: #087E8B;
  border: 1px solid #087E8B; }
  a.btn:hover, a.btn.active {
    background-color: #08737F !important;
    border: 1px solid #08737F !important; }

/*# sourceMappingURL=style.css.map */
.check_color{
  color: green;
  opacity:0
}
.solution{
  color: #69d9e6;
  background-color: #087E8B;
  border: 1px solid #087E8B;
}
.solution:hover, .solution.active {
  background-color: #08737F !important;
  border: 1px solid #08737F !important; }